* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
form button {
    font-family: 'Poppins', sans-serif;
}

body, input, textarea {
    font-family: 'Mooli', sans-serif;
}

header {
    padding: 16px 0;
    background-color: #F5BCAB;
    color: #ecf0f1;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container img {
    height: 280px;
}

.image-tooltip-container {
    position: relative;
    display: inline-block; 
}

.tooltip {
    visibility: hidden;
    background-color: #F7A786;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1; 
    top: -30%;
    left: 50%;
    transform: translateX(-50%); 
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

.image-tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.about-me li {
    margin-left: 18px;
}

.prep li {
    margin-left: 28px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0px;
    color: #866006;
}

section h2 {
    margin-bottom: 16px;
    color: #D8990B;
}


section p {
    margin-bottom: 8px;
}

.social-links {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 60px;
}

.social-links img {
    height: 60px;
    margin-bottom: 10px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #F7A786;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
background-color: #ec6227;
}

input:focus, textarea:focus {
    outline-color: #F7A786;
}

footer {
    background-color: #F5BCAB;
    color: #414c4e;
    padding: 16px 0;
}